<div class="row">
    <div class="col-6">
        <app-note-item 
            *ngFor="let noteEl of storedNotes"
            [noteItem]="noteEl"
            (selectedNoteItem)="OnSelectedNote(noteEl)">
        </app-note-item>
    </div>
    <div class="col-6">
        <div class="card border-secondary mt-1">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="mt-3">
            <button class="btn btn-outline-secondary col-md-12">Edit</button>
        </div>
    </div>
</div>
  
  
